body{
  background-image: url("pexels-lukas-590016.jpg");
  background-size:cover;
  background-position: center;
  background-attachment: fixed;

}

.companyForm{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  display: flex;
  width: 30%;
}


input {
  font-size:  16px; 
  padding:  20px; 
  height:  56px; 
  border:  none; 
  border-bottom:  solid 1px rgba(0,0,0,.1); 
  background-color:  #dbe8ff;
  width:  280px; 
  box-sizing:  border-box; 
  transition:  all .3s linear; 
  color:  #000; 
  font-weight:  400;
  border-radius: 50px;
}

input:hover {
  background-color: #dbe8ff;
}
textarea {
  background-color:  #dbe8ff;
}

textarea:hover {
  background-color: #dbe8ff;
}

label {
  color: black;
  float: left;
  font-weight: bolder;
  font-weight: 900;
  margin: 10px;
}

h1{
    background-color: rgb(16, 51, 147);
    color: black;
    font-size: 3rem;
    font-weight: 750;
    letter-spacing: 2px;
    padding: 2rem;
    text-align: center;
  }

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 50px;
    padding: 20px;
    background-color: rgba(0, 21, 58, 0.4);
    border-radius: 50px;
   
  }


.btn{
  margin-top: 50px;
  background-color:  #dbe8ff;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 22px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  width: 200px;
  touch-action: manipulation;
  }
  .btn:hover{
    color: white ;
    transition: 0.5s;
    border-radius: 25px;
    border: 4px solid #050226;
    background-color: rgb(16, 51, 147);
  }

  




 