.header-component-wrapper {
    display: flex;
    flex-flow: row;
    margin-top: 60px;
    height: 580px;
}

.header-component-image {
    /* margin-top: 60px; */
    display : flex;
    flex-flow: row;
    float: right;
    width: 720px;
}

.header-component-text {
    display: flex;
    flex-flow: column;
    width: 650px;
    /* margin-top: 50px; */
    /* padding: 40px; */
}

.header-greeting {
    display: flex;
    flex-flow: column;
    background-color: #fbc2eb;
    margin: 0px 40px 0px 40px;
    padding: 30px 30px 30px 50px;
    height: 540px;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    align-items: center;
    justify-content: space-between;
}

.header-image-collage {
    display: flex;
    flex-flow: column;
}

.header-image2 {
    height: 260px;
    width: 450px;
}

.header-image1 {
    height: 260px;
    width: 450px;
    margin-bottom: 20px;
    border-top-left-radius: 25%;
} 

.header-image3 {
    height: 540px;
    width: auto;
    margin-left: 20px;
    border-bottom-right-radius: 25%;
}

.header-greeting-1 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;

}

.header-greeting-2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header-greeting-3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header-btn {
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color:  rgb(11, 11, 90);
    color: white;
    cursor: pointer;
}